import { IsNotEmpty, IsString } from 'class-validator';
import { ApiProperty } from '@nestjs/swagger';

export class Create{{ENTITY_NAME}}Dto {
  @ApiProperty({ description: 'Campo de ejemplo' })
  @IsString()
  @IsNotEmpty()
  ejemploCampo: string;
}
